<html>
  <head>
    <meta charset="utf-8">
    <title>Bear Meeting - Reuniões</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <link id="favicon" rel="shortcut icon" href="/images/favicon.png" type="image/png">
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Maple Bear Meeting</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li><a href="/">Início</a></li>
              <li class="active"><a class="nav-link" href="/reunioes">Reuniões</a></li>
              <li><a class="nav-link" href="/dashboard">Dashboard</a></li>
              <li><a class="nav-link" href="/configuracoes">Configurações</a></li>
              <li><a class="nav-link" href="/sair">Sair</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    <div class="container-fluid default-container">

      <% if(validacao.length > 0){ %>
        <div class="alert alert-danger">
          <strong>Atenção</strong>
          <ul>
            <% for(var i = 0; i < validacao.length; i++){ %>
            <li><%= validacao[i].msg %></li>
            <% } %>
          </ul>
        </div>
      <% } %>
      <form action="/reunioes/salvar" method="post" class="form-meeting">
        <h2>Adicionar Reunião</h2>
        <input id="title_meeting" type="text" name="title_meeting" class="form-control" value="<%=meeting.title_meeting%>" placeholder="Título da Reunião">
        <textarea id="note_meeting" name="note_meeting" class="form-control" value="<%=meeting.note_meeting%>" rows="1" cols="80" placeholder="Descreva a reunião"></textarea>
        <input id="date_event_meeting" type="date" class="form-control" value="<%=meeting.date_event_meeting%>" name="date_event_meeting">
        <div class="row">
          <div class="col-md-6">
            <label for="time_init_event_meeting">Inicia em</label>
            <input id="time_init_event_meeting" type="time" class="form-control" value="<%=meeting.time_init_event_meeting%>" name="time_init_event_meeting">
          </div>
          <div class="col-md-6">
            <label for="time_final_event_meeting">Termina em</label>
            <input id="time_final_event_meeting" type="time" class="form-control" value="<%=meeting.time_final_event_meeting%>" name="time_final_event_meeting">
          </div>
        </div>
        <input id="class_meeting" type="text" placeholder="Turma" name="class_meeting" class="form-control" value="<%=meeting.class_meeting%>" value="3">
        <input id="emails" type="text" placeholder="Emails dos contatos (separe por vírgula)" name="emails_meeting" class="form-control" value="<%=meeting.emails_meeting%>" value="3">
        <button type="submit" name="" class="btn btn-primary" >Cadastrar</button>
      </form>
    </div>

  </body>
</html>
