<html>
<head>
<meta charset="utf-8">
<title>Bear Meeting - Reuniões</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/master.css">
<link id="favicon" rel="shortcut icon" href="/images/favicon.png" type="image/png">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Maple Bear Meeting</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a href="/">Início</a></li>
          <li class="active"><a class="nav-link" href="/reunioes">Reuniões</a></li>
          <li><a class="nav-link" href="/dashboard">Dashboard</a></li>
          <li><a class="nav-link" href="/configuracoes">Configurações</a></li>
          <li class=""><a class="nav-link" href="/sair">Sair</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
<div class="container-fluid meetings_card_container">
  <div class="row">
    <% for (var i=0; i < meetings.length; i++) { %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 meeting-card">
        <div class="meeting_card_head" onClick="window.open('/reuniao/<%= meetings[i].code_meeting %>', '_self')" style="border-bottom: 6px solid <%=meetings[i].status_meeting.color%>">
          <h1><%= meetings[i].title_meeting %></h1>
        </div>
        <div class="meeting_card_body">
          <p> <i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= meetings[i].user %></p>
          <p> <i class="fa fa-tag" aria-hidden="true"></i> <%= meetings[i].code_meeting %></p>
          <p> <i class="fa fa-users" aria-hidden="true"></i> <%= meetings[i].class_meeting %></p>
          <p> <i class="fa fa-calendar" aria-hidden="true"></i> <%= meetings[i].date_event_meeting %></p>
          <p> <i class="fa fa-clock-o" aria-hidden="true"></i> <%= meetings[i].time_init_event_meeting %> às <%= meetings[i].time_final_event_meeting %></p>
        </div>
        <div class="meeting_card_footer">
          <a href="/reuniao/<%= meetings[i].code_meeting %>" title="Detalhar" class="btn btn-default"><i class="fa fa-folder-o" aria-hidden="true"></i></a>
          <a href="/check/reuniao/<%= meetings[i].code_meeting %>/<%= meetings[i].status_meeting.value %>" title="<%= meetings[i].status_meeting.label %>" class="btn btn-<%=meetings[i].status_meeting.btn%>" style="color: <%=meetings[i].status_meeting.color%>"><i class="fa <%= meetings[i].status_meeting.icon %>"></i></a>
          <a href="/reuniao/enviar/<%= meetings[i].code_meeting %>" title="Reenviar Convites" class="btn btn-default"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
        </div>
      </div>
    <% } %>
  </div>
  <a href="/reunioes/list" class="btn btn-info btn-radius left"><i class="fa fa-list" aria-hidden="true"></i></a>
  <a href="/reunioes/nova" class="btn btn-danger btn-radius">+</a>
</div>
</body>
</html>
